<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 包扫描 -->
    <context:component-scan base-package="com.you.async"/>

    <!--
        如果不使用自定义线程池，可以直接使用下面这段标签
        引入执行异步任务的线程池TaskExecutor
        <task:executor id="myexecutor" pool-size="5"  />
        <task:annotation-driven executor="myexecutor"/>
    -->

    <!--引入外部xml配置-->
    <import resource="threadPool.xml"/>

</beans>